#main {

  display: grid;
  grid-template-columns: 1fr 1fr; /* 첫 번째 열은 1fr, 두 번째 열은 2fr */
}

.css-1c{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #759563;
}

.css-2c{
  display: grid;
  justify-content: center;
  align-items: center;
}

.broccoli{
  width: 250px;
  height: 250px;
  border: solid 1px gray;
  border-radius: 50%;
  background-image: url('../../images/broccoli.png');
  background-size: cover;
  animation: Img-spin infinite 20s linear;
}

.broccoli:hover{
  cursor: pointer;
  width: 300px;
  height: 300px;
}

@keyframes Img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}