@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');


#main {
  width:100vw;
  height:85vh;
  display: grid;
  align-items: center;
  background-color: #DCE7D7;
}

.main-contents{
  display: flex;
  color: #2f7635;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-contents > h1 {
  font-size: 64px;
  font-family:'Times New Roman', Times, serif;
}

.protest-riot {
  font-family: "Protest Riot", sans-serif;
}

.broccoli{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url('../../images/broone.png');
  margin: 1rem;
  background-size: cover;
  animation: Img-spin infinite 30s linear;
  transition: 0.5s ease;
}

.broccoli:hover{
  margin: 2rem;
  cursor: pointer;
  width: 350px;
  height: 350px;
  transition: 0.5s ease-in-out;
}

@keyframes Img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}