#main {
  display: grid;
  align-items: center;
  background-color: #DCE7D7;

}

.css-1c{
  display: flex;
  color: #2f7635;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.css-1c > h1 {
  font-size: 64px;
  font-family:'Times New Roman', Times, serif;
}

.css-2c{
  display: grid;
  justify-content: center;
  align-items: center;
}

.broccoli{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url('../../images/broccoli2.png');
  background-size: cover;
  animation: Img-spin infinite 30s linear;
  transition: 0.5s ease;
}

.broccoli:hover{
  cursor: pointer;
  width: 275px;
  height: 275px;
  transition: 0.5s ease-in-out;
}

@keyframes Img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}