.foods{
  widows: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foodSearch {
  display: flex;
  margin: 2rem;
}

.searchGroup {
  display: flex;
  align-items: center;
}

.searchInput{
  width: 320px;
  height: 56px;
  transition: ease 1s;
}

.searchInput:focus{
  outline: none;
  border: 3px solid#2f7635;
}

.searchBtn {
  width: 56px;
  height: 56px;
  margin-left: 1rem;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 7%;
  background-color: inherit;
}

.searchBtn:hover {
  border: 1px solid #2f7635;
  background-color: #2f7635;
  cursor: pointer;
}

.filter {
  width: 100px; 
  height: 56px;
  margin-left: 1rem;
  border-radius: 40px;
  border: 1px solid #2f7635;
}

.listGroup {
  display: grid;
  width: 80vw;
  justify-content:space-around; 
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.foodImg{
  width: 90%;
  height: 40%;
}

.nutrition {
  display: flex;
  justify-content:space-around;
  width: 100%;
  height: 120px;
  background-color: #F2FFEC;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 320px;
  height: 2px;
  background-color: #6f7f74;
}

/* Hover effect */

.foodList {
  width: 20vw;
  height: 45vh;
  padding: 15px 20px; 
  background-color: #f5fff5;
  list-style: none;
  position: relative;
  overflow: hidden;
}

.foodList .line {    
  background-color: #cedec7;
  position: absolute;
}

.foodList .line span {
  background-color: #7c9183;
  position: inherit;
  display: block;
  transition: all .4s ease-out;
}

.foodList .line-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
}

.foodList .line-right {
  top: 0;
  right: 0;
  width: 2.5px;
  height: 100%;
}

.foodList .line-bottom {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2.5px;
}

.foodList .line-left {
  left: 0;
  bottom: 0;
  width: 2.5px;
  height: 100%;
}

.foodList .line-top span {
  top: inherit;
  left: inherit;
  width: 0;
  height: 100%;
}

.foodList .line-right span {
  top: inherit;
  right: inherit;
  width: 100%;
  height: 0;
}

.foodList .line-bottom span {
  right: inherit;
  bottom: inherit;
  width: 0;
  height: 100%;
}

.foodList .line-left span {
  left: inherit;
  bottom: inherit;
  width: 100%;
  height: 0;
}

.foodList:hover .line-top span,
.foodList:hover .line-bottom span {
  width: 100%;
}

.foodList:hover .line-left span,
.foodList:hover .line-right span {
  height: 100%;
}