.foodSearch {
  display: flex;
  margin: 5rem;
}

.searchGroup {
  display: flex;
  align-items: center;
}

.searchButton {
  width: 56px;
  height: 56px;
  margin-left: 1rem;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 7%;
  background-color: inherit;
}

.searchButton:hover {
  border: 1px solid #2f7635;
  background-color: #2f7635;
  cursor: pointer;
}

.filter {
  width: 100px; 
  height: 56px;
  margin-left: 1rem;
  border-radius: 40px;
  border: 1px solid #2f7635;
}