#main {

  display: grid;
  grid-template-columns: 1fr 1fr; /* 첫 번째 열은 1fr, 두 번째 열은 2fr */
}

.css-1c{
  background-color: #759563;
}

.broccoli{
  width: 250px;
  height: 250px;
  border: solid 1px gray;
  border-radius: 50%;
  background-image: url('../../images/broccoli.png');
  background-size: cover;
  
}