.test-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.target {
  width: 150px;
  height: 150px;
  /* background-color: brown; */
  background-image: url(/images/broccoli.png);
  background-size: cover;
  cursor: pointer;
  transition: ease-in 0.5s;
}

.target:hover{
  transform: translateY(-5%);
} 

.conditions {
  background-color: #EFF8EC;
  text-align: left;
  transition: ease-in 0.5s;
  border-radius: 20px;
  padding: 10px;
}

.resultBtn {
  border: none;
  background-color: #EFF8EC;
}

.resultBtn:hover {
  cursor: pointer;
}

/* 수정된 biteAnimation 클래스들 */

.animation-2 {
  animation: biteAnimation 2s;
}

.animation-3 {
  animation: biteAnimation 1s;
}

/* 각각의 애니메이션 효과 */
/* 수정된 biteAnimation */
@keyframes biteAnimation {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  20% {
    clip-path: polygon(39% 36%, 50% 27%, 55% 13%, 51% 0, 100% 0, 100% 100%, 0 100%, 0 23%, 11% 31%, 26% 37%);
  }
  40% {
    clip-path: polygon(48% 33%, 56% 32%, 65% 45%, 79% 52%, 90% 49%, 100% 100%, 0 100%, 0 28%, 19% 38%, 36% 37%);
  }
  60% {
    clip-path: polygon(44% 61%, 54% 53%, 65% 45%, 79% 52%, 90% 49%, 100% 100%, 0 100%, 0 48%, 13% 63%, 29% 65%);
  }
  80% {
    clip-path: polygon(44% 61%, 55% 73%, 70% 79%, 88% 79%, 100% 78%, 98% 100%, 0 100%, 0 48%, 13% 63%, 29% 65%);
  }
  100% {
    clip-path: polygon(100% 100%, 100% 100%, 0 100%, 0 100%);
  }
}
